body {
  padding-top: 60px !important;
}

.error {
  color: crimson;
}

.main {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.main h3 {
  padding-bottom: 20px;  
}

.main .restaurant-row {
  cursor: pointer;
}

.main td {
  text-align: left;
}

.main #search {
  width: 300px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
